body{
    background: #7649c0;
    /* font-family: sans-serif; */
    font-family:'Gill Sans MT', Arial, Helvetica, sans-serif;
    display: block;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}

h1{
    font-size: 6em;
    font-weight: 100;
}

h2{
    font-weight: 100;
    font-size: 2em;
}

h5{
    display: inline;
    font-size: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-right: 3em;
    font-weight: 100;
}


button, a{
    background: none!important;
    border: none;
    padding: 0!important;
    color: white;
    /* text-decoration: underline; */
    cursor: pointer;
    display: flex;
    font-size: 1.4em;
    margin: 1em;
  }

#banner{
    background-image: url("./images/colors.jpg");
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 1em;
    margin: 0;
}

#myInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    margin-bottom: 0;
    border-style:solid;
    /* border-width: 2em; */
}

#container{
    display: flex;
    border:black;
    height:800px;
    width:100%;

    position: sticky;
    top: 0;
}

#nav{
    background-color: #7649c0;
    width: 20%;
    height: 100%;
    display: block;
    padding:1em;
}

#profile{
    border: white;
    border-style: solid;
    /* max-width: 90%; */
    width: 98%;
    /* width: 250px */
}

#content{
    background-color: white;
    margin: 0;
    height: 100%;
    width: 80%;
    display: block;
    padding: 3%;
    overflow-y: scroll;
    /* margin-left: 15%; */
}

#mobileDrawer{
    display: none;
}
#mobileHeader{
    width: 100%;
    background-color: #7649c0;
    text-align: center;
    padding: 1em;
    justify-content: center;
}

#drawer{
    background-color: #7649c0;
    display: none;
}

.wrapper{
    background-color: green;
    height: 100%;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
  }
  
  .hamburger{
    width: 50px;
    height: 50px;
    background: #032F41;
    box-shadow: 0 0 15px rgba(3,47,65,1);
    cursor: pointer;
    position: relative;
    border-radius: 5px;
  }
  
  .hamburger > div{
    position: absolute;
    height: 4px;
    background: #fff;
    transition: width 0.3s ease;
    border-radius: 5px;
  }
  
  .first{
    width: 30px;
    top: 15px;
    left: 10px;
  }
  
  .second{
    width: 20px;
    top: 25px;
    left: 10px;
  }
  
  .third{
    width: 30px;
    top: 35px;
    left: 10px;
  }
  
  .hamburger:hover div{
    width: 30px;
    transition: width 0.3s ease;
  }

@media only screen and (max-width: 600px){
    #container{
        display: block;
    }
    #content{
        width: 100%;
    }
    #mobileDrawer{
        display: block;
    }
    #nav{
        display: none;
    }
    #myInfo{
        display: none;
    }
    #banner{
        display: none;
    }
}
