body{
    background: #7649c0;
    /* font-family: sans-serif; */
    font-family:'Gill Sans MT';
    display: block;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}

h1{
    font-size: 6em;
    font-weight: 100;
}

h2{
    font-weight: 100;
    font-size: 2em;
}

h5{
    display: inline;
    font-size: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-right: 3em;
    font-weight: 100;
}


button, a{
    background: none!important;
    border: none;
    padding: 0!important;
    color: white;
    /* text-decoration: underline; */
    cursor: pointer;
    display: flex;
    font-size: 1.4em;
    margin: 1em;
  }

#banner{
    background-image: url("./images/colors.jpg");
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 1em;
    margin: 0;
}

#myInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    margin-bottom: 0;
    border-style:solid;
    /* border-width: 2em; */
}

#container{
    display: flex;
    border:black;
    height:800px;
    width:100%;

    position: sticky;
    top: 0;
}

#nav{
    background-color: #7649c0;
    width: 20%;
    height: 100%;
    display: block;
    padding:1em;
}

#profile{
    border: white;
    border-style: solid;
    /* max-width: 90%; */
    width: 98%;
    /* width: 250px */
}

#content{
    background-color: white;
    margin: 0;
    height: 100%;
    width: 80%;
    display: block;
    padding: 3%;
    overflow-y: scroll;
    /* margin-left: 15%; */
}

#mobileDrawer{
    display: none;
}
#mobileHeader{
    width: 100%;
    background-color: #2196F3;
    text-align: center;
    padding: 1em;
    justify-content: center;
}

/* #drawer{
    display: none;
} */

/* Hide the browser's default checkbox */
.drawer input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.drawerToggle{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
/* On mouse-over, add a grey background color */
.drawer:hover input ~ .drawerToggle {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .drawer input:checked ~ .drawerToggle {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .drawerToggle:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .drawer input:checked ~ .drawerToggle:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .drawer .drawerToggle:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    box-sizing: border-box; 
    /* adds animation for all transitions */ 
    -webkit-transition: .25s ease-in-out; 
    -moz-transition: .25s ease-in-out; 
    -o-transition: .25s ease-in-out; 
    transition: .25s ease-in-out; 
    margin: 0; 
    padding: 0; 
    -webkit-text-size-adjust: none; 
    } 

@media only screen and (max-width: 600px){
    #container{
        display: block;
    }
    #content{
        width: 100%;
    }
    #mobileDrawer{
        display: block;
    }
    #nav{
        display: none;
    }
    #myInfo{
        display: none;
    }
    #banner{
        display: none;
    }
    /* #drawer-toggle{
        display:block;
        position: absolute;
    } */
    /* #drawer-toggle-label { 
        -webkit-touch-callout: none; 
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
        left: 0px; 
        height:50px; 
        width: 50px; 
        display: block; 
        position: fixed; 
        background: rgba(255,255,255,.0); 
        z-index: 1; 
    }
    #drawer-toggle-label:before { 
        content: ''; 
        display: block; 
        position: absolute; 
        height: 2px; 
        width: 24px; 
        background: #8d8d8d; 
        left: 13px; 
        top: 18px; 
        box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d; 
        }   */

            
}
