body{
    background: purple;
    /* font-family: sans-serif; */
    font-family:'Gill Sans MT';
    display: block;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}

h1{
    font-size: 6em;
    font-weight: 100;
}

h2{
    font-weight: 100;
}

h5{
    display: inline;
    font-size: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-right: 3em;
    font-weight: 100;
}


button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: white;
    /* text-decoration: underline; */
    cursor: pointer;
    display: flex;
    font-size: 1.4em;
  }

#banner{
    background-image: url("./images/colors.jpg");
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 1em;
    margin: 0;
}

#myInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    border-bottom: #7649c0;
}

.circle {
    background: lightblue;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

#container{
    display: flex;
    height: 100%;
}

#nav{
    background-color: #7649c0;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#content{
    background-color: white;
    width: 85%;
    margin: 0;
    height: 100%;
    display: block;
}

